.profile_page{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #01B897, #7E009A); 
    flex-direction: column;
       

}
.upper_profile{
    margin-top: 5rem;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    height: 40vh;
    color: white;
    position: relative;
    overflow: hidden;

}
.profile_name,.profile_email, .profile_comments{
    position: absolute;
    display: flex; 
    left: 10%;
}
.profile_name{
    top: 10%;
    font-size: 40px;

}
.profile_email{
    left: 10.2%;
    top: 35%;
}
.profile_comments{
    top: 55%;
}

.col2{
    display: flex;
    left: 40%;
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}
.boxx{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments_count{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10%;

}
.counts{
    font-size: 30px;
}
.col3{
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: flex;
    align-items: center;
}
.row{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10%;
}
.row1, .row2, .row3{
    height: 2rem;
    width: 10rem;
    border: 1px solid black;
    border-radius: 20px;
    padding-left: 30px;
  
}
.update_button{
    width: 5rem;
    height: 2.2rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.lower_profile{
    width: 85vw;
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 20px;
    height: 80vh;
    color: white;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    
}
.comments_title{
    align-self: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
thead {
    position: sticky;
    top: 0;
    background-color: #333; /* Ensure the background color matches your design */
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    z-index: 1;
    padding-left: 0;
}

tr {
    font-size: 18px;
}


table {
    align-self: center;
    width: 85vw;
    border-collapse: collapse;
    padding-left: 10px;
}

tbody {
    overflow-y: auto;
    border-top: 2px solid #f6f6f6;
    scrollbar-color: transparent transparent;
}

th, td {
    margin-right: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: white;
}
td {
    height: 2rem;
}

